@{
    ViewData["Title"] = "Show Events";
}

<h5>Upcoming Events by Google Calendar API</h5><hr />

@if (ViewBag.EventList == null)
{
      <div class="alert alert-primary" role="alert">No Upcoming Event!</div>  
} 
else {
    <table class="table table-striped">
        <tr>
            <th>Event Title</th>
            <th>Description</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        @foreach(var item in ViewBag.EventList as List<AspNetIndustryProject.Controllers.CalendarEvent>)
        {
            <tr>
                <td>@item.Summary</td>
                <td>@item.Description</td>
                <td>@item.Start</td>
                <td>@item.End</td>
            </tr>
            
        }
    </table>
}


