@model AspNetIndustryProject.Models.Product
@{
    ViewData["Title"] = "Delete Product";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete Product" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
